{% extends "index_template.html" %}

{% block content %}
  <br><br><br>

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <form class="d-flex justify-content-center" action="{{ url_for('search') }}" method="GET">
          <input class="form-control me-2" type="search" name="query" 
                 placeholder="Cari judul, nama, atau ISBN" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Cari</button>
        </form>
      </div>
    </div>
  </div>
  <br><br>


  <!-- Carousel Subject -->
  <div class="container">
    <div id="subjectCarousel" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        {% for subject in subjects %}
        <button type="button" data-bs-target="#subjectCarousel" data-bs-slide-to="{{ loop.index0 }}" 
          {% if loop.first %}class="active" aria-current="true"{% endif %} 
          aria-label="Slide {{ loop.index }}">
        </button>
        {% endfor %}
      </div>

      <div class="carousel-inner">
        {% set image_urls = [
          url_for('static', filename='images/administrasi_negara_carousel.png'),
          url_for('static', filename='images/hukum_internasional_carousel.png'),
          'https://fastly.picsum.photos/id/1014/1200/400.jpg?hmac=4CsEiVhAaxel9-60QFxomgz--CPrAaSnySvgg02j2EQ',
          url_for('static', filename='images/pidana_carousel.png'),
          'https://fastly.picsum.photos/id/1014/1200/400.jpg?hmac=4CsEiVhAaxel9-60QFxomgz--CPrAaSnySvgg02j2EQ',
          'https://fastly.picsum.photos/id/1014/1200/400.jpg?hmac=4CsEiVhAaxel9-60QFxomgz--CPrAaSnySvgg02j2EQ',
          'https://fastly.picsum.photos/id/1014/1200/400.jpg?hmac=4CsEiVhAaxel9-60QFxomgz--CPrAaSnySvgg02j2EQ',
          'https://fastly.picsum.photos/id/1014/1200/400.jpg?hmac=4CsEiVhAaxel9-60QFxomgz--CPrAaSnySvgg02j2EQ'
        ] %}
        {% for subject in subjects %}
        <div class="carousel-item {% if loop.first %}active{% endif %} ">
          <a href="{{ url_for('search', query=subject.name) }}"><img src="{{ image_urls[loop.index0] }}" class="d-block w-100 rounded-3" style="height: 500px; object-fit: cover;" alt="Carousel Image {{ loop.index + 1 }}"></a>
          <!-- <img src="https://fastly.picsum.photos/id/1014/1200/400.jpg?hmac=4CsEiVhAaxel9-60QFxomgz--CPrAaSnySvgg02j2EQ" class="d-block w-100" alt="{{ subject.name }}"> -->
          <div class="carousel-caption d-none d-md-block">
            <h5>{{ subject.name }}</h5>
          </div>
        </div>
        {% endfor %}
      </div>

      <button class="carousel-control-prev" type="button" data-bs-target="#subjectCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#subjectCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>


  <br><br>

  <!-- Latest Collections Section -->

  <div class="container mt-5">
    {% set image_urls = {
      'S1-Hukum Administrasi Negara': url_for('static', filename='images/administrasi_negara_carousel.png'),
      'S1-Hukum Internasional': url_for('static', filename='images/hukum_internasional_carousel.png'),
      'S1-Hukum Perdata': 'https://fastly.picsum.photos/id/1014/1200/400.jpg?hmac=4CsEiVhAaxel9-60QFxomgz--CPrAaSnySvgg02j2EQ',
      'S1-Hukum Pidana': url_for('static', filename='images/pidana_carousel.png'),
      'S1-Hukum Tata Negara': 'https://fastly.picsum.photos/id/1014/1200/400.jpg?hmac=4CsEiVhAaxel9-60QFxomgz--CPrAaSnySvgg02j2EQ',
      'S2-Ilmu Hukum': 'https://fastly.picsum.photos/id/1014/1200/400.jpg?hmac=4CsEiVhAaxel9-60QFxomgz--CPrAaSnySvgg02j2EQ',
      'S2-Kenotariatan': 'https://fastly.picsum.photos/id/1014/1200/400.jpg?hmac=4CsEiVhAaxel9-60QFxomgz--CPrAaSnySvgg02j2EQ',
      'S3-Ilmu Hukum': 'https://fastly.picsum.photos/id/1014/1200/400.jpg?hmac=4CsEiVhAaxel9-60QFxomgz--CPrAaSnySvgg02j2EQ'
    } %}
    
    <h3 class="mb-4">Koleksi Terbaru</h3>
    <p class="mb-3">Merupakan daftar koleksi-koleksi terbaru kami. Tidak semuanya baru, ada pula koleksi yang data-datanya sudah diperbaiki. Selamat menikmati!</p>
    
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">
      {% for catalog, person in latest_catalogs %}
      <div class="col">
        <a href="{{ url_for('show_detail_collection', catalog_id=catalog.id) }}" class="text-decoration-none text-dark">
          <div class="card h-100 shadow-sm">
            {% set subject_name = catalog.subject.name %}
            {% set image_url = image_urls.get(subject_name, 'https://via.placeholder.com/300x200.png?text=No+Image') %}
            <img src="{{ image_url }}"
                 class="card-img-top"
                 alt="{{ catalog.title | default('Judul Buku') }}"
                 style="height: 300px; object-fit: cover;">
            <div class="card-body d-flex flex-column justify-content-between align-items-center text-center">
              <h6 class="card-title mb-0">{{ catalog.title }}</h6>
              <p class="card-text small text-muted mb-1">Oleh: {{ person.first_name }} {{ person.last_name }}</p>
              <p class="card-text small text-muted mb-1">Tahun: {{ catalog.publish_year }}</p>
              <span class="stretched-link"></span>
            </div>
          </div>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
  

<br><br>
  <br><br>
{% endblock %}